.button {
    border-radius: 15px;
    padding: 0.8rem 2rem;
    border: none;
    color: rgb(253, 245, 230);
    background-color: var(--button-color);
    font-size: 1.1rem;
    cursor: pointer;
}

.button:hover {
    color: white;
    background-color: var(--button-color-hover);
}