.status {
    width: 20%;
    height: 3.8rem;
    margin: 2rem 0 0 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
}

.userIcon {
    font-size: 2rem;
    color: gray;
}

.status p {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}
.status p span {

    font-size: 12px;
}