:root{

  --button-color: rgb(88, 86, 86);
  --button-color-hover: rgb(148, 138, 138);
  /* --light-shadow: #a5cbe7;
  --dark-shadow: #607d94;
  --box-shadow: .2rem .2rem .5rem var(--light-shadow), -.2rem -.2rem .5rem var(--dark-shadow); */
  


}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
