.registerVoter {
    height: 62.5vh;
    margin: 32px auto;
    display: flex;
    justify-content: space-around;
}

.registerfield {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:25px;
}



.registeredVoter {
    width: 50%;
    padding: 2rem;
    border-left: 1px solid black;
    
}

.registeredVoter h3 {
    color: rgb(138, 132, 132);
    padding: 1rem;
    text-align: center;
}

.address {
    text-align: center;
    font-style: italic;
    font-size: 14px;
    font-weight: 500;
    color: gray;;
}

.status {
    padding-left: 32px;
}