.registerVoter {

    border: 1px solid red;
    height: 51.5vh;
    margin: 32px auto;
    display: flex;
    justify-content: space-around;
    

}

.registerfield {
    width: 50%;
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:25px;
}



.registeredVoter {
    width: 50%;
    border: 1px solid black;
    
}

.registeredVoter h3 {
    color: rgb(138, 132, 132);
    padding: 1rem;
    text-align: center;
}